In [ ]:
# Project-Exploring-the-NYC-Airbnb-Market

# project title:
    # Exploring the NYC Airbnb Market

# project description:
    # Apply data importing and cleaning skills to extract insights about the New York City Airbnb market.

# used language:
    # R

# topics:
    # Data Manipulation,
    # Importing & Cleaning Data

# project url:
    # https://app.datacamp.com/learn/projects/exploring-the-nyc-airbnb-market

# project by:
    # George Boorman

# published by:
    # DataCamp

# publisher url:
    # https://datacamp.com/

## Airbnb listings in New York City
<p><img src="https://assets.datacamp.com/production/project_1230/img/nyc.jpg" alt="New York City skyline" width="600px"></p>
<p>Welcome to New York City, one of the most-visited cities in the world. As a result, there are many <a href="https://www.airbnb.com/"><em>Airbnb</em></a> listings in New York City to meet the high demand for temporary lodging for anywhere between a few nights to many months. In this notebook, we will take a closer look at the New York Airbnb market by combining data from multiple file types like <code>.csv</code>, <code>.tsv</code>, and <code>.xlsx</code> (Excel files).</p>
<p>A <strong>CSV</strong>, or comma-separated-values, file is one of the most common ways that tabular data is stored. In a CSV file, each value is separated by a comma and each row is separated by a newline. Since this file format is so widely used and is non-proprietary, it's great for sharing data with others and can be parsed by a variety of software.</p>
<pre><code>"listing_id","price","nbhood_full"
2595,"225 dollars","Manhattan, Midtown"
3831,"89 dollars","Brooklyn, Clinton Hill"
5099,"200 dollars","Manhattan, Murray Hill"
</code></pre>
<p>A <strong>TSV</strong>, or tab-separated-values, file is similar to a CSV file, but tabs are used to separate values rather than commas:</p>
<pre><code>listing_id    host_name   last_review
2595    Jennifer    May 21 2019
3831    LisaRoxanne July 05 2019
5099    Chris   June 22 2019
</code></pre>
<p><strong>Excel files</strong> are often used by spreadsheet users. Excel files contain information about formatting and formulas created in Excel, but these things aren't usually necessary when working with data in R. Excel files can also contain multiple tables, so these files need to be imported carefully to make sure the correct table is used. The Excel file format is also proprietary, so there's a more limited pool of software that can read it.</p>
<p><img src="https://assets.datacamp.com/production/project_1230/img/airbnb_room_type.png" alt="Excel file" width="700px"></p>
<p>The three files that are available contain data on 2019 Airbnb listings. Here are the details:</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
<div style="font-size:20px"><b>datasets/airbnb_price.csv</b></div>
This is a CSV file containing data on the prices and neighborhoods of Airbnbs.
<ul>
<li><b><code>listing_id</code>:</b> unique identifier of listing</li>
<li><b><code>price</code>:</b> nightly listing price in USD</li>
<li><b><code>nbhood_full</code>:</b> name of borough and neighborhood where listing is located</li>
</ul>
</div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
<div style="font-size:20px"><b>datasets/airbnb_room_type.xlsx</b></div>
This is an Excel file containing data on Airbnb listing descriptions and room types.
<ul>
<li><b><code>listing_id</code>:</b> unique identifier of listing</li>
<li><b><code>description</code>:</b> listing description</li>
<li><b><code>room_type</code>:</b> Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments</li>
</ul>
</div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
<div style="font-size:20px"><b>datasets/airbnb_last_review.tsv</b></div>
This is a TSV file containing data on Airbnb host names and review dates.
<ul>
<li><b><code>listing_id</code>:</b> unique identifier of listing</li>
<li><b><code>host_name</code>:</b> name of listing host</li>
<li><b><code>last_review</code>:</b> date when the listing was last reviewed</li>
</ul>
</div>
<p><strong>Note:</strong> This project lets you apply the skills from the <a href="https://learn.datacamp.com/skill-tracks/importing-cleaning-data-with-r">Importing and Cleaning Data with R skill track</a>, including importing from different file types and cleaning numerical, categorical, and date data. We recommend that you take the courses in this track before starting this project.</p>

In [44]:
# importing the required libraries
library(readxl)
library(readr)
library(dplyr)
library(stringr)

In [45]:
# reading the required datasets of different formats
airbnb_price <- read_csv("./datasets/airbnb_price.csv")
airbnb_room_type <- read_excel("./datasets/airbnb_room_type.xlsx")
airbnb_last_review <- read_tsv("./datasets/airbnb_last_review.tsv")

Rows: 25209 Columns: 3

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (2): price, nbhood_full
dbl (1): listing_id


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 25209 Columns: 3

── Column specification ────────────────────────────────────────────────────────
Delimiter: "\t"
chr (2): host_name, last_review
dbl (1): listing_id


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [46]:
# joining all the dataframes together
listings <- airbnb_price %>%
    inner_join(airbnb_room_type, by="listing_id") %>%
    inner_join(airbnb_last_review, by="listing_id")

head(listings, 5)

  listing_id price       nbhood_full
1 2595       225 dollars Manhattan, Midtown
2 3831       89 dollars  Brooklyn, Clinton Hill
3 5099       200 dollars Manhattan, Murray Hill
4 5178       79 dollars  Manhattan, Hell's Kitchen
5 5238       150 dollars Manhattan, Chinatown
  description                               room_type       host_name
1 Skylit Midtown Castle                     Entire home/apt Jennifer
2 Cozy Entire Floor of Brownstone           Entire home/apt LisaRoxanne
3 Large Cozy 1 BR Apartment In Midtown East Entire home/apt Chris
4 Large Furnished Room Near B'way           private room    Shunichi
5 Cute & Cozy Lower East Side 1 bdrm        Entire home/apt Ben
  last_review
1 May 21 2019
2 July 05 2019
3 June 22 2019
4 June 24 2019
5 June 09 2019

In [47]:
# Question 1: What is the average listing price?

# checking the data type of the dataframe
glimpse(listings)

Rows: 25,209
Columns: 7
$ listing_id  <dbl> 2595, 3831, 5099, 5178, 5238, 5295, 5441, 5803, 6021, 6848…
$ price       <chr> "225 dollars", "89 dollars", "200 dollars", "79 dollars", …
$ nbhood_full <chr> "Manhattan, Midtown", "Brooklyn, Clinton Hill", "Manhattan…
$ description <chr> "Skylit Midtown Castle", "Cozy Entire Floor of Brownstone"…
$ room_type   <chr> "Entire home/apt", "Entire home/apt", "Entire home/apt", "…
$ host_name   <chr> "Jennifer", "LisaRoxanne", "Chris", "Shunichi", "Ben", "Le…
$ last_review <chr> "May 21 2019", "July 05 2019", "June 22 2019", "June 24 20…

In [48]:
# we need to change the data tpe of price from string to numeric
listings = listings %>%
    mutate(price = str_remove(price, " dollars") %>%
           as.numeric())

glimpse(listings)

Rows: 25,209
Columns: 7
$ listing_id  <dbl> 2595, 3831, 5099, 5178, 5238, 5295, 5441, 5803, 6021, 6848…
$ price       <dbl> 225, 89, 200, 79, 150, 135, 85, 89, 85, 140, 215, 140, 99,…
$ nbhood_full <chr> "Manhattan, Midtown", "Brooklyn, Clinton Hill", "Manhattan…
$ description <chr> "Skylit Midtown Castle", "Cozy Entire Floor of Brownstone"…
$ room_type   <chr> "Entire home/apt", "Entire home/apt", "Entire home/apt", "…
$ host_name   <chr> "Jennifer", "LisaRoxanne", "Chris", "Shunichi", "Ben", "Le…
$ last_review <chr> "May 21 2019", "July 05 2019", "June 22 2019", "June 24 20…

In [49]:
# calculating the average listing price
avg_price <- listings %>%
    summarize(avg_price = mean(price)) %>%
    as.numeric()

avg_price

[1] 141.7779

In [50]:
# Therefore, the average listing price is about $ 141.78

In [51]:
# Question 2: How many of the listings are private rooms?

# getting the frequency of the room_tye category
listings %>%
    count(room_type)

  room_type       n
1 entire home/apt 2665
2 Entire home/apt 8458
3 ENTIRE HOME/APT 2143
4 private room    2248
5 Private room    7241
6 PRIVATE ROOM    1867
7 shared room      110
8 Shared room      380
9 SHARED ROOM       97

In [52]:
# Here, the categories contain same name with different cases
# converting them to a standard lower case types
listings = listings %>%
    mutate(room_type = str_to_lower(room_type))

# again getting the frequency
listings %>%
    count(room_type)

  room_type       n
1 entire home/apt 13266
2 private room    11356
3 shared room       587

In [53]:
# getting the total number of private rooms
private_room_count <- listings %>%
    count(room_type) %>%
    filter(room_type == "private room")

nb_private_rooms <- private_room_count$n
nb_private_rooms

[1] 11356

In [54]:
# Therefore, the total numer of private rooms are 11356

In [55]:
# Question 3: When were the earliest and most recent reviews in the dataset?

# we need to first convert the date into datetime type
listings = listings %>%
    mutate(last_review_date = as.Date(last_review, format= "%B %d %Y"))

In [56]:
# getting the required dates
review_dates <- listings %>%
    summarize(first_reviewed = min(last_review_date),
              last_reviewed = max(last_review_date))

review_dates

  first_reviewed last_reviewed
1 2019-01-01     2019-07-09

In [57]:
# Therefore, the first review date is 2019-01-01 whereas the last review date is 2019-07-09